{% extends 'footerheader-barre.html.twig' %}
{% block body %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Modifier Livraison</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
                {{ form_start(Fclass) }}

                <div class="card-body">
                   <div class="form-group">
                    <label for="exampleInputPassword1">ID Livraison</label>
                    {{ form_widget(Fclass.idLivraison, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">ID Livreur</label>
                    {{ form_widget(Fclass.idLivreur, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Num Livraison </label>
                    {{ form_widget(Fclass.numLivraison, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Etat Livraison </label>
                    {{ form_widget(Fclass.etatLivraison, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Date Livraison </label>
                    {{ form_widget(Fclass.dateLivraison, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Prix Livraison </label>
                    {{ form_widget(Fclass.PrixLivraison, {'attr': {'class': 'form-control'}}) }}
                  </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                 {{ form_widget(Fclass.Modifier, {'attr': {'class': 'btn btn-primary'}}) }}
                </div>
             {{ form_end(Fclass) }}
            </div>
            <!-- /.card -->

          

          </div>

        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}