{% extends 'baseCart.html.twig'%}
{% block title %}<title>History</title> {% endblock %}
{% block body %}
    <!-- Begin Li's Breadcrumb Area -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="breadcrumb-content">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Reclamation List</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Li's Breadcrumb Area End Here -->
    <div class="container align-content-center mt-50">
    <h1 align="center">Reclamations History</h1>
    <input type="text" id="search" class="form-control col-md-3" placeholder="Search">
    <div class="form-group mt-20">
    <table class="table table-striped">
         
         <tr>
        
            <th>Your Name</th>
            <th>Email</th>
            <th>Reclamation Subject</th>
            <th>Message</th>
            <th>Reclamation Type</th>
            <th>Produit</th>
            {#<th>CreatedAt</th>#}
            <th>Reclamation Status</th>
            <th>Check Response</th>
        </tr>
        
        <tbody id="all">
        {% for r in tab %}
            <tr>
            
                <td>{{ r.name }}</td>
                <td>{{ r.email }}</td>
                <td>{{ r.subject}}</td>
                <td>{{ r.message }}</td>
                <td>{{ r.type }}</td>
                <td>  {% for des in tab1 %}
                  {% if des.commande.id == r.id %}
                  *{{ des.produit.nomProduit  }} <br>
                  {% endif %}
                  {% endfor %}
                </td>
               {% if r.reponse != null %}
                <td><a href="{{path('etat_rec', {id:r.reponse.id})}}"
                        onclick="return confirm('Do You want to see The Response to Your reclamation?')">{{ r.etat }}</a></td>
                {% set var = "http://127.0.0.1:8000/reclamation/etat/" ~ r.reponse.id  %}

                <td><img src="{{ qr_code_url(var)}}" style="width: 150px; height: 150px"/></td>

                {% else %}
                {#<td>{{ r.createdAt|date('Y-m-d H:i:s') }}</td> #}
                <td><a href="#">{{ r.etat }}</a></td>
                 <td><img src="{{ qr_code_url("http://127.0.0.1:8000/reclamation/error")}}" style="width: 150px; height: 150px"/></td>

                
                {% endif %} 
            </tr>

        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
    {{ knp_pagination_render(tab) }}

{% block javascripts %}
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script>
        $( document ).ready(function() {
            var currentRequest = null;
            $("#search").keyup(function(e){
                var value = $(this).val();
                if(value =='')
                {
                    currentRequest.abort()
                }
                else if(currentRequest != null) {
                    currentRequest.abort();
                }
                
                currentRequest = $.ajax({
                    url : "{{ path('ajaxsearchRec') }}",
                    type : 'GET',
                    data: {
                        'searchValue' : value
                    },
                    success : function(retour)
                    {
                        $('#all').html(retour);
                    },
                });
                return false;
            });
        });
    </script>
{% endblock %}
    </div>
    </div>
{% endblock %}