{% extends 'baseCart.html.twig'%}

{% block title %}<title>Mes Commandes</title> {% endblock %}
{% block body %}
    <!-- Begin Li's Breadcrumb Area -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="breadcrumb-content">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Commandes List</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Li's Breadcrumb Area End Here -->
    <div class="container align-content-center mt-50">
    <h1 align="center">Commandes list</h1>
    <div class="form-group mt-20">
    <table class="table table-striped">
        <tr>
        
            <th>Nom Client</th>
            <th>Prenom Client</th>
            <th>Phone</th>
            <th>Montant</th>
            <th>Date commande</th>
            <th>Les produits achetés </th>
            <th>Action</th>
        </tr>
        {% for class in tab %}
            <tr>
            
                <td>{{ class.nomClient}}</td>
                <td>{{ class.prenomClient}}</td>
                <td>{{ class.phone}}</td>
                <td>{{ class.montant}}</td>
                <td>{{ class.dateCommande | date("d/m/Y")}}</td>
                <td>
                  {% for des in tab1 %}
                  {% if des.commande.id == class.id %}
                  *{{ des.produit.nomProduit  }} <br>
                  {% endif %}
                  {% endfor %}

                </td> 
                <td><a class="btn btn-info" href="{{path('r_add', {id:app.user.id , cmd:class.id})}}">ADD Reclamation</a>
                    <a class="btn btn-info" href="{{path("pdf",{'id':class.id}) }}">Facture PDF</a> </td>
                </td>
            </tr>
        {% endfor %}
    </table>
    </div>
    </div>
{% endblock %}