{% extends "baseBack.html.twig" %}
{% block body %}
<link href="https://api.tiles.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css" rel="stylesheet" />
<script src="https://unpkg.com/@esri/arcgis-rest-request@3.0.0/dist/umd/request.umd.js"></script>
<script src="https://unpkg.com/@esri/arcgis-rest-geocoding@3.0.0/dist/umd/geocoding.umd.js"></script>
<script src="https://unpkg.com/@esri/arcgis-rest-auth@3.0.0/dist/umd/auth.umd.js"></script>
<script src="https://api.tiles.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js"></script>
 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Ajouter Boutique</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
             
               {{ form_start(Fbout,{'attr': {'novalidate': 'novalidate'}} ) }}


                <div class="card-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">Nom Boutique</label>
                    {{ form_widget(Fbout.nomBoutique, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(Fbout.nomBoutique,{'attr':{"class":"mb-0"}}) }}
                  </div>
                
                  <div class="form-group">
                    <label for="exampleInputEmail1">Description Boutique</label>
                    {{ form_widget(Fbout.descBoutique, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(Fbout.descBoutique,{'attr':{"class":"mb-0"}}) }}
                  </div>

                  <div class="form-group">
                    <label for="exampleInputPassword1">Adresse Boutique</label>
                    {{ form_widget(Fbout.adresseBoutique, {'attr': {'class': 'form-control'} ,'id': 'adresse'}) }}
                     {{ form_errors(Fbout.adresseBoutique,{'attr':{"class":"mb-0"} ,'id': 'adresse'}) }}
                  </div>

                  

                   <div class="form-group">
                   
                    <label for="exampleInputPassword1">Photo de Profil </label>
                    {% for image in Fbout.images %}
                    {{ form_widget(image.name, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(image.name,{'attr':{"class":"mb-0"}}) }}
                     {% endfor %}
                 
                   </div>
              
                            
                </div>
                {{ form_widget(Fbout.longitude,  {'id': 'longitudee','type':'hidden'} ) }}
               {{ form_widget(Fbout.latitude,  {'id': 'latitudee','type':'hidden'} ) }}
                <!-- /.card-body -->
                <body>
                              <div id="map"></div>
                             
                        
                          
                            </body>
                            {% block stylsheets %}
                            <style>
                            #map {
                              height:60vh ; 
                              width: 150vh;
                              border: 2px solid black;
                              bottom: -25px;
                              left: 30px;
                            }
                            
                            </style>
                            {% endblock %}



                
             {{ form_end(Fbout) }}
             
            </div>
            <!-- /.card -->

          

          </div>

        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  
  <script>

const apiKey = "AAPK8f27da23013b4b43b967a2b4cf4fed55MwFkbld8ACq5Y70fgYUK4aLGkBkSdvXT5zEXvakLLEam6hJfa4BHfnL6LbFTkJxf";

const basemapEnum = "ArcGIS:Navigation";
const coordinates = document.getElementById('coordinates');
const latitude = document.getElementById('latitude');
const test= document.getElementById('test');
const map = new mapboxgl.Map({
container: "map",
style: `https://basemaps-api.arcgis.com/arcgis/rest/services/styles/${basemapEnum}?type=style&token=${apiKey}`,
cooperativeGestures: true,
zoom: 6,

center: [9.541625307219647, 35.660282489135156], // starting position ([lng, lat] for Mombasa, Kenya)

});

const marker = new mapboxgl.Marker({
draggable: true
})
.setLngLat([9.871215150968851, 37.26823489806061])
.addTo(map);

function onDragEnd() {
const lngLat = marker.getLngLat();


const coords = lngLat.toArray();

const authentication = new arcgisRest.ApiKey({
  key: apiKey
});

var label ='' ;
arcgisRest
  .reverseGeocode(coords, {
    authentication
  })
  .then((result) => {

    const lngLat = [result.location.x, result.location.y];

    const label = `${result.address.LongLabel}`;
    const longitudee= `${lngLat[0].toLocaleString()}`;
    const latitudee= `${lngLat[1].toLocaleString()}`;

    $("#longitudee").val(longitudee)
    $("#latitudee").val(latitudee)
    $("#adresse").val(label)

  })
   
  .catch((error) => {
    alert("There was a problem using the reverse geocode service. See the console for details.");
    console.error(error);
  });
 

}

marker.on('dragend', onDragEnd);
map.addControl(new mapboxgl.FullscreenControl());
map.addControl(new mapboxgl.NavigationControl());








</script>
{% endblock %}