{% extends "baseBack.html.twig" %}

{% block body %}
	<!-- Content Wrapper. Contains page content -->
	<div
		class="content-wrapper">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 class="m-0">Dashboard</h1>
					</div>
					<!-- /.col -->
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item">
								<a href="#">Home</a>
							</li>
							<li class="breadcrumb-item active">Dashboard</li>
						</ol>
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</div>
		<!-- /.content-header -->

		<!-- Main content -->
		<section class="content">
			<div
				class="container-fluid">
				<!-- Info boxes -->
				<div class="row">
					<div class="col-12 col-sm-6 col-md-3">
						<div class="info-box">
							<span class="info-box-icon bg-info elevation-1">
								<i class="fas fa-cog"></i>
							</span>

							<div class="info-box-content">
								<span class="info-box-text">CPU Traffic</span>
								<span class="info-box-number">
									10
									<small>%</small>
								</span>
							</div>
							<!-- /.info-box-content -->
						</div>
						<!-- /.info-box -->
					</div>
					<!-- /.col -->
					<div class="col-12 col-sm-6 col-md-3">
						<div class="info-box mb-3">
							<span class="info-box-icon bg-danger elevation-1">
								<i class="fas fa-thumbs-up"></i>
							</span>

							<div class="info-box-content">
								<span class="info-box-text">Likes</span>
								<span class="info-box-number">740.20</span>
							</div>
							<!-- /.info-box-content -->
						</div>
						<!-- /.info-box -->
					</div>
					<!-- /.col -->

					<!-- fix for small devices only -->
					<div class="clearfix hidden-md-up"></div>

					<div class="col-12 col-sm-6 col-md-3">
						<div class="info-box mb-3">
							<span class="info-box-icon bg-success elevation-1">
								<i class="fas fa-shopping-cart"></i>
							</span>

							<div class="info-box-content">
								<span class="info-box-text">Sales</span>
								<span class="info-box-number">760</span>
							</div>
							<!-- /.info-box-content -->
						</div>
						<!-- /.info-box -->
					</div>
					<!-- /.col -->
					<div class="col-12 col-sm-6 col-md-3">
						<div class="info-box mb-3">
							<span class="info-box-icon bg-warning elevation-1">
								<i class="fas fa-users"></i>
							</span>

							<div class="info-box-content">
								<span class="info-box-text">New Members</span>
								<span class="info-box-number">2,000</span>
							</div>
							<!-- /.info-box-content -->
						</div>
						<!-- /.info-box -->
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
				<!-- Ici -->
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<h5 class="card-title">Statistics</h5>

								<div class="card-tools">
									<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


								</div>
							</div>
							<!-- /.card-header -->
							<div class="card-body">
								<div class="row">
									<div class="col-6">
                  							<p class="text-center">
											<strong>Reclamation Statistics</strong>
										</p>
										<canvas id="types" width="400" height="200"></canvas>


									</div>
									<div class="col-6">
                  							<p class="text-center">
											<strong>Produit Statistics</strong>
										</p>
										<canvas id="quantite" width="400" height="200"></canvas>


									</div>

									<div class="col-6">
                  							<p class="text-center">
											<strong>Vehicules Statistics</strong>
										</p>
										<canvas id="vehicule" width="400" height="200"></canvas>


									</div>
									<div class="col-6">
										<p class="text-center">
											<strong>Commande date Statistics</strong>
										</p>
										<canvas id="commandes" width="400" height="200"></canvas>
									
									
									</div>

									
						
									<!-- /.col -->
								
									<!-- /.col -->
								</div>
								<!-- /.row -->
							</div>
							<!-- ./card-body -->
							<div class="card-footer">
								<div class="row">
									<div class="col-sm-3 col-6">
										
										
										<!-- /.description-block -->
									</div>
								</div>
								<!-- /.row -->
							</div>
							<!-- /.card-footer -->
						</div>
						<!-- /.card -->
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
				</div>
				<!-- /.row -->
			</div>
			<!--/. container-fluid -->
		</section>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->

	<!-- Control Sidebar -->
	<aside
		class="control-sidebar control-sidebar-dark"><!-- Control sidebar content goes here -->
	</aside>
	<!-- /.control-sidebar -->
			<script>
							let types = document.querySelector("#types")
							let typeGraph = new Chart(types, {
							type: "pie",
							data: {
							labels: {{ recType|raw }},
							datasets: [
							{
							label: "Récupération des types",
							data: {{ recCount|raw }},
							backgroundColor: ["pink", "lgreen", "lightblue"]
							}
							]

							}
							})
			</script>

			<script>
							let quantite = document.querySelector("#quantite")
							let quantiteGraph = new Chart(quantite, {
							type: "pie",
							data: {
							labels: {{ prodNom|raw }},
							datasets: [
							{
							label: "Récupération des quantites des produits",
							data: {{ prodQuantite|raw }},
							backgroundColor: ["lgreen", "lightblue"]
							}
							
							]

							}
							})
			</script>
			<script>
							let typeV = document.querySelector("#typeV")
							let typeGraph = new Chart(typeV, {
							type: "pie",
							data: {
							labels: {{ typeVehicule|raw }},
							datasets: [
							{
							label: "Récupération des vehicules des produits",
							data: {{ vehCount|raw }},
							backgroundColor: ["black", "yellow","lgreen"]
							}
							
							]

							}
							})
			</script>
			<script>
				let age = document.querySelector("#age")
				let ageGraph = new Chart(age, {
					type: "pie",
					data: {
						labels: {{ ageUtilisateurs| raw }},
				datasets: [
					{
						label: "Récupération des ages des produits",
						data: {{ countUtilisateurs| raw }},
					backgroundColor: ["lgreen", "lightblue"]
										}

				]
			
										}
										})
			</script>
			<script>
        let commandes = document.querySelector("#commandes")
        let comGraph = new Chart(commandes, {
            type: "line",
            data: {
                labels: {{ dates|raw }},
                datasets: [{
                    label: "Nombre de Commande",
                    data: {{ commandesCount|raw }}
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        })
    </script>
			
{% endblock %}
